<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プレミアリーグBIG6特集!!!</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="app.js" defer></script>
</head>

<body>

<h1>プレミアリーグBIG6特集!!!</h1>
<p>このサイトではプレミアリーグのBIG6と呼ばれるチームについての情報を提供します!!</p>

<div id="map" style="height: 250px; width: 60%;"></div>

<h2>プレミアリーグとは？</h2>
<p>プレミアリーグとはイングランドの最上位に位置するリーグです! 1992年に設立され、そのレベルの高さから、世界中で非常に人気のあるリーグとなっています。</p>

<h2>BIG6とは?</h2>
<p>BIG6とは下記の6クラブのことを指し、これらのクラブは、過去数シーズンにわたりプレミアリーグでの競争が激しく、国際大会でもタイトルを獲得しているクラブです。</p>

<ul>
    <li>マンチェスターシティ(Manchester City)</li>
    <li>マンチェスターユナイテッド(Manchester United)</li>
    <li>リヴァプール(Liverpool)</li>
    <li>チェルシー(Chelsea)</li>
    <li>アーセナル(Arsenal)</li>
    <li>トッテナムホットスパー(Tottenham Hotspur)</li>
</ul>

<p>これら6チームの最新情報について随時発信していきます! それぞれのチームについての情報は下の名前検索から飛べます！</p>

<form id="teamForm">
    <label for="teamName">Enter the team name:</label>
    <input type="text" id="teamName" name="teamName">
    <input type="submit" value="Go to team page">
</form>

<!-- External scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="script.js"></script>
</body>
</html>
